@font-face {
  font-family: 'Roboto-Medium';
  src: url('/Assets/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/Assets/Roboto-Light.ttf');
}

html, body {
  margin: 0;
  font-family: 'Roboto-Medium';
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/*  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER */
.header {
  padding: 10px 60px 0px 40px;
  background-color: white;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 150px;
  position: relative;
  /* box-shadow: 18px 0px 20px 2px #d4d4d4; */
}

.row1 {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.searchbar {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.notisprofile {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
}

.row2 {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  gap: 20px;
  height: 90px;
}

.row2 p {
  font-size: 14px;
  margin-bottom: 0;
}

.row2 h2 {
  font-size: 24px;
  margin-top: 4px;
}

.r2icon {
  height: 80px;
}

.iconwelcome {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-column: 1 / 2;
}

.hbtns {
  height: 100%;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.hbtn {
  height: 36px;
  border: none;
  background-color: #0e83e9;
  color: white;
  border-radius: 32px;
  width: 90px;
}

.search {
  height: 16px;
  border-radius: 128px;
  width: 80%;
  background-color: rgb(234, 232, 232);
  border: none;
  padding: 8px;
}
/*  SIDEBAR  SIDEBAR  SIDEBAR  SIDEBAR  SIDEBAR  SIDEBAR  SIDEBAR */
.sidebar {
  background-color: #0e83e9;
  color: white;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: 0px 48px 0px 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 250px 100px;
  font-size: 20px;
  gap: 40px;
}

.dash {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 24px;
  padding-top: 16px;
}

.homecommunities {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.homebtn, .profilebtn,
.messagesbtn, .historybtn,
.tasksbtn, .communitiesbtn,
.settingsbtn, .supportbtn,
.privacybtn {
  display: flex;
  align-items: center;
  gap: 24px;
}

.settingsprivacy {
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px;
}

h4 {
  margin: 0px;
}

.sidebar img {
  height: 24px;
}

.sidebar #dashimg {
  height: 50px;
}

/*  ARTICLE  ARTICLE  ARTICLE  ARTICLE  ARTICLE  ARTICLE  ARTICLE */
.main {
  background-color: #e2e8f0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 4px 0px 24px 20px;
  /* box-shadow: 12px 0px 20px 10px #d4d4d4; */
  position: relative;
  box-shadow: 8px 6px 16px 4px #d4d4d4;
}

.projects {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding-right: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 8px 400px;
  justify-content: space-between;
  height: 177px;
  box-shadow: 0px 0px 6px 2px #d4d4d4;
}

.bar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: orange;
  border-radius: 12px 0px 0px 12px;
}

.cardtext {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.cbtns {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 10px;
  gap: 20px;
}

#cbtn {
  height: 24px;
}

.card h2 {
  font-size: 16px;
}

.card p {
  max-width: 45ch;
  font-size: 14px;
  color: rgb(97, 97, 97);
  font-family: 'Roboto-Light';
}

.announcements {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding-right: 20px;
}

.announcementcontainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: 24px;
  gap: 20px;
  box-shadow: 0px 0px 6px 2px #d4d4d4;
}

.announcementcontainer p {
  font-family: 'Roboto-Light';
  font-size: 12px;
  margin: 0;
}

.announcementcontainer h5 {
  font-size: 12px;
  margin: 0;
}

#announcement1 {
  grid-row: 1 / 2;
}

#announcement2 {
  grid-row: 2 / 3;
}

#announcement3 {
  grid-row: 3 / 4;
}

.trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-right: 20px;
}

.trenders {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
  box-shadow: 0px 0px 6px 2px #d4d4d4;
  border-radius: 12px;
  height: 255px;
}

#trender {
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 14px;
}

.handle p {
  font-size: 8px;
  font-family: 'Roboto-Light';
}

.handle h5 {
  font-size: 14px;
  font-family: 'Roboto-Light';
  margin: 0;
}

#ticon {
  height: 30px;
  max-width: 40px;
}

#ticonsmall {
  height: 40px;
}

.h3 {
  color: rgb(22, 22, 22);
}